@import url("https://fonts.cdnfonts.com/css/valorant");

$red-500: #ef4444;

*,
::before,
::after {
  box-sizing: border-box;
}

.inspect {
  border: $red-500 solid 3px;
}

.font-valorant {
  font-family: "VALORANT", sans-serif;
}
