*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

#nav-bar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right, #ac2e00, #ce6d31);
    padding: 0 !important;
}

.nav-link{
    position: relative;
}

.nav-link::after{
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: orange;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after{
    opacity: 1;
}

.navbar-brand img{
    height: 65px;
    padding-left: 20px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars{
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important;
}

/*-------------banner section-------------*/

#banner{
    background-image: linear-gradient(to right, #ac2e00, #ce6d31);
    color: #fff;
    padding-top:5%;
    border-bottom-left-radius:35px;
    border-bottom-right-radius:35px;
    padding-bottom: 5%;
}

.promo-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    font-weight: 600;
    margin-top: 100px;
    background: linear-gradient(to top, #fd973e, #fc9a45,#f98358, #ff6600);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.play-btn{
    position: relative;
    background: #fff;
    color: #ff531e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    transition: 0.5s;
    padding: 10px 30px;
    border-radius: 20px;
}

.play-btn:hover{
    background: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 15px;
    color: #fff;
}

.img-fluid{
    height: 70px;
    padding-left: 20px;
}

/*---------characters section----------*/

#characters{
    padding: 80px 0;
}

.character-img{

    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
}